<!DOCTYPE html>
<html>
  <head>
    <title>Fortnite</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <%= yield :ogp %>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-2 navbar-light header">
      <div class="container">
        <a class="navbar-brand" href="/matches">Fortnite Match</a>
        <% if user_signed_in? %>
        <div class="my-2 my-lg-0">
          <%= link_to 'ログアウト', destroy_user_session_path, class: "no-text-decoration", method: :delete %>
        </div>
      <% end %>
    </div>
    </nav>

    <%= yield %>

    <script>
    //url-texを現在のURL（document.URL）に変更する
    $('.url-text').text(document.URL);

    //clipURL関数の定義（urlをコピーする機能）
    function clipURL() {

      //currentURLのIDを選択
      $('#currentURL').select();

      //選択しているテキストをクリップボードにコピーする
      document.execCommand('copy');

      //現在のcurrentURLのIDを削除
      $('#currentURL').remove();

      //アラートを表示する
      alert("URLをコピーしました。");
    }

    //textにcard-titleクラスのテキストを代入する
    var text = $('.card-title').text();

    //twitterurlのシェア用urlを作成してtwitterurlに挿入
    var twitterurl = "https://twitter.com/intent/tweet?url=" + document.URL + "&text=" + text + "%20%23Fortnite%20%23%e3%83%95%e3%83%ac%e3%83%b3%e3%83%89%e5%8b%9f%e9%9b%86%20Sponsored%20by%20%40GamePair";

    //btn-twクラスのリンクをtwitterurlに変更する
    $('.btn-tw').attr('href',twitterurl);
  </script>
  </body>
</html>
